<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.rain.currency"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".CurrencyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <service android:name=".ui.converter.ConverterService" />

        <activity
            android:name=".ui.setting.SettingActivity"
            android:configChanges="colorMode|density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|touchscreen|smallestScreenSize|uiMode"
            android:theme="@style/Transparent" />

        <activity
            android:name=".ui.intro.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2418f69af29498e6be0ec1633e58d5586cd2753c" />
    </application>
</manifest>
